<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    {{> style}}
    <style>
        .modal {
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 110%;
            background-color: rgba(0, 0, 0, 0.5);
            opacity: 0;
            visibility: hidden;

            transform: scale(1.1);
            z-index: 1;
        }

        /*----------------------------------------*/
        .modal-content {
            position: absolute;
            top: 47%;
            left: 48%;
            transform: translate(-43%, -50%);
            background-color: white;
            padding: 1rem 1.5rem;
            width: 39rem;
            border-radius: 0.5rem;
        }

        /*----------------------------------------*/
        .change-modal {
            opacity: 1;
            visibility: visible;
        }



        /*----------------------------------------*/
        p.clicking:active {
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.3);
        }

        /*----------------------------------------*/
        p.clicking:hover {
            box-shadow: 0 1px #efefef;
            border: 1px solid #eb5200;
            background-color: #f9760b;
        }

        /*----------------------------------------*/
        .Whole_button {
            display: flex;

            justify-content: space-around;

            align-items: center;
        }

        /*----------------------------------------*/
        p.clicking {
            box-shadow: -1px 5px 50px 8px rgba(255, 141, 24, 0.62);
            border: 1px solid #fb8f3d;
            background: #f9760b;
            font-family: "Trattatello", fantasy;
            font-size: 2em;
            background: -webkit-linear-gradient(top, #fda251, #fb8f3d);
            cursor: pointer;
            z-index: 1;
            margin: 10px;
            position: absolute;
            left: 65%;
            top: 19%;
            width: 18%;
            list-style: none;
            text-decoration: none;
            color: #000000;
            align-items: center;

        }



        p.clicking:hover {
            background: #00b33c;
        }

        /*----------------------------------------*/

        .closeBttn {
            float: right;
            cursor: pointer;
            border-radius: 1rem;
            background-color: lightgray;
            width: 1.5rem;
            line-height: 1.5rem;
            text-align: center;
        }

        .closeBttn:hover {
            background-color: darkgray;
        }

        /*----------------------------------------*/

        /*----------------------------------------*/
        .background_3 {
            background-image: url(../img/Seaside_house.jpg);
            background-size: cover;
            background-attachment: fixed;
            min-height: 400px;
            position: relative;
            opacity: 0.65;
        }

        /*----------------------------------------*/

        /**************************** HTML_FORM *********************************/
        form#html_form {
            width: 100%;
            padding: 20px;
            border-radius: 6px;
            background-color: peachpuff;
            box-shadow: 0 0 8px #006622;
        }

        /*----------------------------------------*/
        div .title2 {
            position: relative;
            height: 250px;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        /*----------------------------------------*/
        #research {
            position: initial;
            width: 64%;
            filter: brightness(50%);
        }

        /*----------------------------------------*/
        div.title2 h3 {
            position: absolute;
            top: 3%;

            left: 22%;

            color: #ffffff;
            font-weight: 900;
            word-spacing: 8px;
            font-size: 1.6em;
            z-index: 1;
        }


        /*----------------------------------------*/
        select,
        input {
            border: 1px solid #ccc;
            border-radius: 3px;
            margin-bottom: 10px;
        }

        /*----------------------------------------*/
        .section:hover i,
        input:hover::placeholder {
            color: pink;
        }

        /*----------------------------------------*/
        .section input:hover,
        .section select:hover {
            border: 1px solid transparent;
            box-shadow: 0 0 3px 0 palevioletred;
        }

        /*----------------------------------------*/
        .section sup {
            color: red;
        }

        /*----------------------------------------*/
        .section i {
            right: 1%;
            top: 30px;
            z-index: 2;
        }

        /*----------------------------------------*/
        .arrange {
            display: flex;
            flex-wrap: wrap;
        }

        /*----------------------------------------*/
        .arrange div {
            width: 48%;
        }

        /*----------------------------------------*/
        .section {
            position: relative;
            margin: 10px 0;
        }

        /*----------------------------------------*/
        .submit-block {
            text-align: center;
        }

        /*----------------------------------------*/
        .submit-block input {
            width: 150px;
            padding: 10px;
            font-size: 16px;
            color: #fff;
            cursor: pointer;
            border: none;
            border-radius: 5px;
            background: palevioletred;
            margin-top: 1%;
        }

        /*----------------------------------------*/
        .submit-block input:hover {
            background: purple;
        }

        /*----------------------------------------*/
        .section>p {
            margin: auto;
        }

        /*----------------------------------------*/
        legend {
            background-color: rebeccapurple;
            color: #f1f1f1;
            font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
            border-radius: 50%;
            padding: 10px;
        }

        /*----------------------------------------*/
        .image_uploaded>img {
            width: 20em;
            height: 15em;
            margin: 10px;
            border: 2px black outset;
        }

        /*----------------------------------------*/
        .image_uploaded {
            flex: 1;
        }

        /*----------------------------------------*/
        .uploaded_format {
            display: flex;
            flex-direction: row;
            justify-content: normal;
            position: static;

        }

        .text_uploaded>p,
        h2 {
            padding: 10px;
            width: 60%;
        }

        /*----------------------------------------*/
        .DATA_FORMAT {
            flex: 2;
            margin: 0 auto;
            position: absolute;
            left: 35%;
            right: 50%;
            top: 15%;
            text-align: left;
            width: 50%;
            background: blanchedalmond;
            border: 2px black outset;
            font-family: sans-serif;
        }

        /*----------------------------------------*/
        .text_uploaded span {
            color: red;
        }

        .Background_data {
            background-color: royalblue;
            height: 31em;
            line-height: 1;
            ;
        }

        /*----------------------------------------*/
        @media only screen and (max-width:600px) {
            .modal-content {
                width: 80%;
                height: 70%;
                top: 47%;
                left: 46%;
            }

            form#html_form {
                width: 100%;
                height: 100%;
            }

            div .title2 {
                width: 100%;
                height: 25%;
            }

            div.title2 h3 {
                top: 15%;
                left: 26%;
                font-size: 1em;
                width: 50%;

            }

            #research {
                width: 64%;
            }

            .arrange {
                height: 55%;
                width: 100%;
                display: contents;

            }

            .section {
                margin: initial;
            }

            .submit-block {
                text-align: center;
                display: flex;
                flex-direction: row;
            }

            .submit-block input {
                width: 50%;
                margin: 5px;
            }

            /*-------------------------------------*/
            .image_uploaded {
                margin: 0 auto;
            }

            .uploaded_format {
                flex-direction: column;
            }

            .DATA_FORMAT {

                margin: 0 auto;
                position: static;
                width: 100%;
                font-size: xx-small;
            }

            .Background_data {

                line-height: 1;
            }

            p.clicking {
                font-size: 1em;
                margin: 10px;
                position: absolute;
                left: 62%;
                top: 54%;
                width: 30%;
            }
        }

        /*----------------------------------------*/
    </style>
</head>

<body>
    {{>header userInfo}}

    {{#each room}}
    <div class="Background_data">
        <div class="uploaded_format">
            <div class="image_uploaded">
                <img src="/photos/{{images}}" alt=" room title" class="rounded img-thumbnail" />
            </div>
            <div class="DATA_FORMAT">
                <div class="text_uploaded">
                    <h2>Title: <span>{{caption}}</span></h2>
                    <p>Located in: <span>{{location}}</span></p>
                    <p>Description: <span>{{description}}</span></p>
                    <p>Price: <span>{{price}}</span> <small class="text-muted">per night</small></p>
                </div>
            </div>

            <p class="clicking">
                Click here for booking search
            </p>

        </div>
        <div class="modal">
            <div class="modal-content">
                <span class="closeBttn">&times;</span>
                <form id="html_form" action="/{{_id}}" method="POST">
                    <div class="title2">
                        <h3>Booking search form</h3>
                        <img id="research" src="../data/img/research.jpg" alt="searching" />
                    </div>
                    <fieldset>
                        <legend>Book Searching</legend>
                        <div class="arrange">
                            <div class="section">
                                <label for="checkin">Check-in Date <sup>*</sup></label>
                                <input id="checkin" type="date" name="checkin" required />
                            </div>
                            <div class="section">
                                <label for="checkout">Check-out Date <sup>*</sup></label>
                                <input id="checkout" type="date" name="checkout" required />
                            </div>


                            <div class="section">
                                <label for="guests_label">guests<sup>*</sup></label><br />
                                <input list="guests" id="guests_label" name="guests" placeholder="How many guests"
                                    required />
                                <datalist id="guests">
                                    <option value="1"></option>
                                    <option value="2"></option>
                                    <option value="3"></option>
                                    <option value="4"></option>
                                </datalist>
                            </div>
                        </div>
                    </fieldset>
                    {{/each}}

                    <div class="submit-block">
                        {{#if userInfo}}
                        <input type="submit" value="Submit" />
                        <input type="button" onclick="javascript:window.location=''" value="Cancel" />
                        {{else}}
                        <p>Please Login to book your room</p>
                        {{/if}}
                    </div>
                </form>
            </div>
        </div>
    </div>
    {{> footer}}
    <script>
        var modal = document.querySelector(".modal");
        var clicking = document.querySelector(".clicking");
        var closeBttn = document.querySelector(".closeBttn");
        window.addEventListener("click", windowOnClick);
        clicking.addEventListener("click", change_Modal);
        closeBttn.addEventListener("click", change_Modal);

        function change_Modal() {
            modal.classList.toggle("change-modal");
        }
        clicking.onclick = function () {
            modal.style.display = "block";
        };

        function windowOnClick(event) {
            if (event.target == modal) {
                change_Modal();
            }
        }
    </script>

</body>

</html>